<!DOCTYPE html>

<html lang="en"> 

  <head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" /> 
	<title>PROJECT EVOLUTION</title>

	<style>
	body {background-color: snow; font-family: 'OldSansBlack'}
	.navbar {background-color: #ff385c; position: fixed; top:0; width:100%; margin: 0; padding: 0px;}
	.navbar a {float: left;font-size: 16px; font-family: 'OldSansBlack'; color: white; text-align: center; padding: 12px 10px; text-decoration: none; letter-spacing: 2px;}
	.active {background-color: #D8BFD8;}
	@font-face {font-family:'OldSansBlack'; src:url(OldSansBlack.ttf)}
	h1 {font-family:'OldSansBlack'; font-size: 50px; text-align: center; padding-top: 15px; color: #ff385c; font-weight: bold;}
	h2 {font-family: 'OldSansBlack';}
	.center {margin-left: auto; margin-right: auto;}
	.imgcenter {margin-left: auto; margin-right: auto; width: 50%; display: block;}
	td {text-align:center;}
	</style>
	
	<script>
	/* Your JavaScript goes here */
	</script>
  </head>

  <body>
	<div class="navbar">
	<a href="http://127.0.0.1:5000/">GOAL</a>
	<a href="http://127.0.0.1:5000/userinstructions/">USER INSTRUCTIONS</a>
	<a href="http://127.0.0.1:5000/implementation/">IMPLEMENTATION INFORMATION</a>
	<a href="http://127.0.0.1:5000/results/">RESULTS</a>
	<a class="active" href="http://127.0.0.1:5000/evolution/">PROJECT EVOLUTION</a>
	<a href="http://127.0.0.1:5000/map/">BOSTON MAP</a>
	<a href="http://127.0.0.1:5000/attribution/">ATTRIBUTION</a>
	</div>


<table style="padding-top: 50px; width: 80%;" class="center">
	<tr>
		<td style="font-size: 50px; text-align: center; color: #ff385c; text-shadow: 2px 2px black;"> airbnb </td>
	</tr>
	<tr>
		<td style="text-align: center; line-height: 0; color: #ff385c;"> helper. </td>
	</tr>
</table>

<br> <br> 
<p style="text-align: left; margin: 0px 100px; color: #ff385c; font-size: 18px;"> PROJECT OBJECTIVE: </p>
<br> 
<p style="line-height: 2; text-align: center; margin: 0px 100px; border: 2px solid #ff385c; padding: 10px; border-radius: 8px; "> We initially decided to analyze Airbnb listings in New York City for our project. Our goal was to help Airbnb hosts find a suitable price based on the different variables of our dataset. After meeting with Professor Li, we realized that we needed to concentrate on a concrete idea, and that we should better integrate what we learned in class, because our project was too focused on data science.
<br>
	We also realized that we would have had difficulties accomplishing our goals for our project if we continued with New York City. For example, we wanted to highlight each neighborhood’s key landmarks and data values. It would have been difficult with New York City because New York City has 5 boroughs that are subdivided into over 250 unique neighborhoods. Since we had to research landmarks and add the markers individually (even with a for loop), it would have taken precious time we could use to focus on making our project and code more robust.
<br>	
	We decided to use Boston’s dataset instead. Since we had already coded the exploratory data analysis functions for New York City, it was a very easy switch. With the listings in Boston’s dataset, we changed our goal to help Airbnb users (which includes Airbnb hosts and guests) rather than just the host. For example, if the host was to look for a cheaper neighborhood to rent a property or neighborhoods with fewer listings and competition, they could look at the average prices per neighborhood through the interactive map to decide what price to charge.
	</p>
	<br> <br> 
	<p style="text-align: center; margin: 0px 100px; color: #ff385c; font-size: 18px;"> This is our code’s evolution. You can compare this to the code on our implementation page: </p>
	<br> 
	<table class="center" style="width:650px">
		<tr> 
			<td> 
				<img src="{{url_for('static', filename='ny_one.jpeg')}}", width="650", height="550" style="border: 1px solid #ff385c; border-radius: 8px;">
				<br>
				<br>
			</td>
		</tr>
		<tr>
			<td style="background-color: pink;" >
				We imported many packages because our initial research showed us that Bokeh would have been good for data visualization. We hoped to make a map using it. Our data cleaning processes remained the same. 
			</td>
		</tr>  	
		<tr> 
			<td> <br> <br> 
				<img src="{{url_for('static', filename='ny_two.jpeg')}}", width="650", height="550" style="border: 1px solid #ff385c; border-radius: 8px;">
				<br> <br> 
			</td>
		</tr>
			<td style="background-color: pink;">
				Our data cleaning processes remained the same. We used the same code to make bar graphs.  
			</tb>
		</tr> 
		<tr> 
			<td><br> <br>  
				<img src="{{url_for('static', filename='ny_three.jpeg')}}", width="650", height="550" style="border: 1px solid #ff385c; border-radius: 8px;">
			<br> <br> 
			</td>
		</tr>
		<tr>
			<td style="background-color: pink;">
				We were trying to plot the map. As you can see, it was a long process.
			</td>
		</tr>
		<tr> 
		<td> <br> <br> 
			<img src="{{url_for('static', filename='ny_four.jpeg')}}", width="650", height="300" style="border: 1px solid #ff385c; border-radius: 8px;">
			<img src="{{url_for('static', filename='nymap.PNG')}}", width="650", height="550" style="border: 1px solid #ff385c; border-radius: 8px;">
		<br> <br> </td>
		</tr>
		<tr>
		<td style="background-color: pink;">
			When we printed the map, it was not interactive. 
		</td>	
		</tr>
		</tr>
			<tr> 
			<td> <br> <br> 
				<img src="{{url_for('static', filename='ny_five.jpeg')}}", width="650", height="550" style="border: 1px solid #ff385c; border-radius: 8px;">
			<br> <br> </td>
		</tr>
		<tr>
			<td style="background-color: pink;">
				Our data visualization code remained the same. We wanted to analyze the prices by borough.  
			</td>	
		</tr>	
		<tr> 
			<td> <br> <br> 
				<img src="{{url_for('static', filename='ny_six.jpeg')}}", width="650", height="350" style="border: 1px solid #ff385c; border-radius: 8px;">
			<br> <br> </td>
		</tr>
		<tr>
			<td style="background-color: pink;">
				Our data visuation code remained the same. We analyzed the top 10 neighborhoods in New York City.
			</td>	
		</tr>
		<tr> 
			<td> <br> <br>  
				<img src="{{url_for('static', filename='ny_seven.jpeg')}}", width="650", height="550" style="border: 1px solid #ff385c; border-radius: 8px;">
			<br> <br> </td>
		</tr>
		<tr>
			<td style="background-color: pink;">
				We began working on our regression model here. There was some confusion.
			</td>	
		</tr>	
			</table>	

			<br> <br> 
			<p style="text-align: left; margin: 0px 100px; color: #ff385c; font-size: 18px;"> CONCLUSION: </p>
			<br> 
			<p style="line-height: 2; text-align: center; margin: 0px 100px; border: 2px solid #ff385c; padding: 10px; border-radius: 8px; "> Our map was the biggest difficulty since we were unable to download Geopandas, but we were able to use many concepts from our lessons including but not limited to Flask, lists, dictionaries, for loops, pandas and more. Throughout the process, we also learned how to use MatPlotlib, Folium for the interactive map and sklearn for the regression model. Overall, we enjoyed the entire process even after pivoting at a late stage. We learnt the many different ways we can utilize python to analyze data.
				</p> 

  </body>
</html>